body {
    font-family: $primary-font;
    background-color: $body-bg-color;
}

a {
    text-decoration: none;
    transition: color .3s;
    
    &:hover {
        text-decoration: none;
    }
}

.container {
    width: $container-width;
    margin: 0 auto;
    position: relative;
    @include clearfix();
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.clearfix {
    @include clearfix();
}
