.header {
    background-color: $primary-color;
    padding: 11px 0;

    .site-logo {
        line-height: 76px;
        display: block;
        
        img {
            vertical-align: middle;
        }
    }

    .top-nav {
        @include reset-ul();
        @include clearfix();
        margin-bottom: 10px;

        li, a {
            @include light-text-shadow();
            font-size: 11px;
            line-height: 14px;
        }

        li {
            float: left;
            margin-right: 2px;

            a {
                text-decoration: none;
                
                &:hover,
                &.current {
                    color: #979da1;
                } 
            }

            &::after {
                content: "|";
                margin-left: 3px;
            }

            &:last-child::after {
                content: "";
            }
        }
    }

    .info-block {
        @include clearfix();
        background-color: #2a3f47;
        border: 1px solid #15232b;
        padding: 0 14px;
        min-height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 8px;
        
        .info-block-content {
            span, a {
                @include light-text-shadow();
                font-size: 11px;
                line-height: 11px;
                vertical-align: middle;
            }

            a {
                font-weight: 700;

                &:hover,
                &.current {
                    color: #979da1;
                }
            }
        }

        .block-image {
            line-height: 50px;
            margin-right: 8px;
            
            img {
                vertical-align: middle;
            }
        }

        .spacer {
            width: 1px;
            margin: 0 12px;
            border-right: 1px solid #3d5a66;
            background: #15232b;
            height: 36px;
        }

    }
}