$primary-font: 'Ubuntu', sans-serif;

$body-bg-color: #e0e0e0;
$primary-color: #21313b;
$secondary-color: #283c45;

$container-width: 960px;
$sidebar-width: 222px;

//Gradients
$dark-blue-start: #3a565e;
$dark-blue-end: #263a43;

$light-blue-start: #88acc0;
$light-blue-end: #678da1;